$belong[../layout.vm]
li(id="id-01")
	section
		header
			h2 简介
				span.mini-title 什么是服务器？
		.section-main
			.mini-title 在前端看来就是能够通过http(s)协议访问资源的应用程序
			ol
				li 可以使用http路径访问html页面， css， js， 图片等资源
				li 方便前端进行一些交互性的功能调试，如：ajax
				li 更接近真实运行环境的调试效果 
				li 了解一些服务端代码编写，方便数据调试和前端构建 (☆)
		footer
li(id="id-02")
	section
		header
			h2 常见服务器
		.section-main
			.mini-title 常见服务器列表
			ol
				li Nginx
				li Apache
				li Tomcat
				li IIS  
				li 前端一般只需要掌握最基本的一个项目更目录配置功能
		footer

li(id="id-03")
	section
		header
			h2 Nginx
				span.mini-title 性能最优的服务器
		.section-main
			.mini-title 最流行的前端应用服务器
			ul
				li 下载地址：
					a(href="http://nginx.org/en/download.html") http://nginx.org/en/download.html
				li &nbsp;
				li 配置文件: 
					code "conf/nginx.conf"
				li &nbsp;
				li 
					img(src="http://nginx.org/nginx.png", alt="Nginx")
				li &nbsp;
				li Nginx
					.mini-title (windows/linux/unix跨平台)
		footer
li(id="id-04")
	section
		header
			h2 Apache
				span.mini-title php主要运行环境
		.section-main
			.mini-title 最流行的php服务器
			ul
				li 下载地址：
					a(href="http://xiazai.zol.com.cn/detail/34/337266.shtml")  http://xiazai.zol.com.cn/detail/34/337266.shtml
				li &nbsp;
				li 配置文件: 
					code "conf/httpd.conf"
				li &nbsp;
				li Apache 通常配合其他应用插件一并安装使用
					.mini-title XAMPP/LAMP 等
				li &nbsp;
				li Apache 
					.mini-title (windows/linux/unix跨平台)
					.mini-title (windows/linux/unix跨平台)
		footer
li(id="id-05")
	section
		header
			h2 Tomcat
				span.mini-title jsp主要运行环境
		.section-main
			.mini-title 最流行的java应用服务器之一
			p 其他还有 weblogic，websphere，jboss等(功能很强大的应用服务器)
			ul
				li 下载地址：
					a(href="http://tomcat.apache.org/download-70.cgi")  http://tomcat.apache.org/download-70.cgi
				li &nbsp;
				li 配置文件: 
					code "conf/server.xml"
				li &nbsp;
				li Tomcat 安装需要相应的java环境jre支持
				li &nbsp;
				li Tomcat
					.mini-title (windows/linux/unix跨平台)

		footer
li(id="id-06")
	section
		header
			h2 IIS
				span.mini-title windows操作系统下原生服务器
		.section-main
			.mini-title windows系统WEB开发最方便的服务器
			ul
				li 如何配置：
					a(href="http://www.baidu.com/s?wd=iis%20%E9%85%8D%E7%BD%AE")  百度一下
				li &nbsp;
				li IIS支持 ASP 动态语言
				li &nbsp;
				li IIS
					.mini-title 只支持windows操作系统

		footer
li(id="id-07")
	section
		header
			h2 f2e-server
				span.mini-title 专为前端打造的开发服务器
		.section-main
			.mini-title 工具化前端开发过程中需要进行的复杂化构建工作等
			
			h2 F2E-SERVER

			p
				a(href="http://f2e-server.com") http://f2e-server.com 
