$belong[../layout.vm]
li(id="id-01")
    section
        header
            h2 浏览器
                span.mini-title 前端的一亩三分地儿
        .section-main
            .mini-title 除了这些,你还知道哪些个?
            img.block(src="img/browser.jpg", alt="前端常用浏览器", style="width:90%;") 
        footer
li(id="id-02")
    section
        header
            h2 浏览器内核
        .section-main
            .mini-title 哪些浏览器的内核是一样的,或者类似的
            ol
                li Trident内核：IE最先开发或使用的，也称IE内核
                li Webkit内核：前身是KHTML, Apple发扬光大, Chrome(blink) 让它风靡, Opera 已跟风
                li Gecko内核： Netscape6开始采用的内核，后来的Mozilla FireFox (火狐浏览器) 也采用了该内核
                li Presto内核：以前只有Opera浏览器采用该内核
        footer
li(id="id-03")
    section
        header
            h2 浏览器组成结构
                span.mini-title 熟悉你的浏览器
        .section-main
            .mini-title 浏览器一般都具有哪些重要组成
            ol
                li 网页可视窗体( 视区, 滚动条 )
                li 地址栏, 导航栏, 标签, 书签
                li 前进, 后退, 刷新/停止刷新
                li 插件区域( webkit )
                li 设置 - 系列功能
        footer
li(id="id-04")
    section
        header
            h2 Webkit调试
                span.mini-title 熟悉Webkit的控制台
        .section-main
            ol
                li element 页面元素选择
                li network 网络相关功能
                li sources 所有当前页面、子页面、插件资源
                li timeline 浏览器系统监控(☆)
                li profiles 性能监控
                li resources 本地存储
                li audits 网页可优化方案检测
                li console 调试控制台(☆☆☆☆☆)
        footer
li(id="id-05")
    section
        header
            h2 简单了解其他浏览器相关组成
        .section-main
            .mini-title 熟悉各种浏览器调试
            ol
                li IE10/11 方便的调试功能
                li firefox 在开源社区有更丰富的调试插件支持
                li 其他国产浏览器使用webkit内核调试
                li IETester &amp; IE6.exe
                li Chrome40+ 移动端模拟调试
        footer