$belong[../layout.vm]
li(id="id-01")
    section
        header
            h2 sublime 简介
                span.mini-title 前端神器sublime
        .section-main
            .mini-title 半免费的文本编辑器
            ol
                li 体积小： ≈6M
                li 启动便捷, 媲美notepad/gedit 
                li 可免费使用
                li 独特的代码高亮 (Monokai)
                li 丰富的插件库 packageControl
        footer
li(id="id-02")
    section
        header
            h2 下载和 packageControl 安装
        .section-main
            .mini-title 官网安装sublime-3 以及 packageControl
            ol
                li 
                    a(href="http://www.sublimetext.com/") download
                li  
                    a(href="https://packagecontrol.io/") packageControl
                li 安装 packageControl (注释部分为代理设置)
            code.nopre.prettyprint.code import urllib.request,os,hashlib; h = 'eb2297e1a458f27d836c04bb0cbaf282' + 'd0e7a3098092775ccb37ca9d6b2e4b7d'; pf = 'Package Control.sublime-package'; ipp = sublime.installed_packages_path(); urllib.request.install_opener( urllib.request.build_opener( urllib.request.ProxyHandler(/*{"http":"192.168.1.1:8080"}*/)) ); by = urllib.request.urlopen( 'http://packagecontrol.io/' + pf.replace(' ', '%20')).read(); dh = hashlib.sha256(by).hexdigest(); print('Error validating download (got %s instead of %s), please try manual install' % (dh, h)) if dh != h else open(os.path.join( ipp, pf), 'wb' ).write(by)

        footer
li(id="id-03")
    section
        header
            h2 插件安装和卸载 
                span.mini-title packageControl install/remove
        .section-main
            .mini-title 快捷键: "ctrl + shift + p"
            ol
                li install package
                li remove package
                li preferences -&gt; package settings
                li emmet settings
        footer
li(id="id-04")
    section
        header
            h2 emmet 安装和使用
        .section-main
            .mini-title 
                a(href="https://github.com/shy2850/web123/blob/master/course/2.Easy-Html.md") zencoding/emmet
            img(src="https://github.com/shy2850/web123/raw/master/course/images/2/emmet.gif", alt="emmet")
        footer
li(id="id-05")
    section
        header
            h2 其他快捷键
        .section-main
            .mini-title 熟悉各种常用快捷键
            ol
                li 多行选择 ctrl + alt + (鼠标点击或者↑↓)
                li 复制粘贴整行 ctrl + c 
                li 整行移动 ctrl + shift + (↑↓)
                li 查找和替换 ctrl [+ shift] + f/h
                li 多面板 alt + shift + (number)
        footer