$belong[../layout.vm]
li(id="id-01")
    section
        header
            h2 HTML 简介
                span.mini-title 超文本标记语言
        .section-main
            .mini-title XML 类型文本扩展
            ol
                li 基本格式
                li 标签(元素)、属性、嵌套 
                li 与XML的直观差别
                li 浏览平台 网页/邮件客户端
                li server page 的输出结果都是HTML
        footer
li(id="id-02")
    section
        header
            h2 HTML 基本结构
        .section-main
            ol
                li 
                    a(href="http://w3school.com.cn/tags/tag_doctype.asp") 文档类型声明 
                    code.nopre &lt;!DOCTYPE html&gt;
                li  head 标签
                li 
                    a(href="http://w3school.com.cn/html/html_head.asp") head 标签
                li  body 标签
                li  为什么按照这样的格式？

        footer
li(id="id-03")
    section
        header
            h2 head 标签 
        .section-main
            .mini-title 网页全局信息承载体
            ol
                li title 定义文档标题。
                li base 定义页面上所有链接的默认地址或默认目标。
                li link 定义文档与外部资源之间的关系。
                li meta 定义关于 HTML 文档的元数据。
                li script 定义客户端脚本。
                li style 定义文档的样式信息。
        footer
li(id="id-04")
    section
        header
            h2 常用标签
        .section-main
            .mini-title 最常用的内容标签
            ol
                li p, a
                li h1~h6
                li span
                li strong, em, i, u...
                li img
        footer
li(id="id-05")
    section
        header
            h2 布局标签
        .section-main
            .mini-title div以及列表标签
            ol
                li div
                li ol/ul &gt; li
                li dl &gt; dt+dd*
                li table &gt; tr &gt; td
                li html5 语义化标签的 IE8-兼容 (☆)
        footer
li(id="id-06")
    section
        header
            h2 表单标签
        .section-main
            .mini-title 表单相关基础
            ol
                li form (GET/POST)
                li input[text/password/checkbox/radio/submit/reset/button]
                li input[file]
                li input[email/url/date/color/range/number/search]
                li textarea
                li select
        footer
li(id="id-07")
    section
        header
            h2 其他标签
        .section-main
            ol
                li 
                    a(href="http://www.w3school.com.cn/tags/index.asp") HTML/HTML5标签列表
                li 分隔形式标签 br, hr
                li 媒体标签 audio, video
                li 插件标签 object/embed
                li 弃用标签 
        footer
li(id="id-08")
    section
        header
            h2 HTML属性
        .section-main
            ol
                li 4个通用属性 id, name, class, title
                li 样式属性 style
                li 表单类型属性 type 
                li 表单取值属性 value
                li 表单特性属性 readonly, disabled, checked, selelected
                li 其他属性和自定义属性 placeholder, autocomplete, contenteditable, label[for]
        footer
li(id="id-09")
    section
        header
            h2 HTML补充知识
        .section-main
            .mini-title 你还应该了解到的一些知识
            ol
                li HTML验证:  
                    a(href="http://validator.w3.org/") http://validator.w3.org/
                li 
                    a(href="http://w3school.com.cn/tags/html_ref_entities.html") HTML实体 ISO-8859-1 
                li  
                    a(href="http://w3school.com.cn/tags/html_ref_symbols.html") HTML符号
                li  
                    a(href="http://w3school.com.cn/tags/html_ref_language_codes.asp") HTML语言代码
                li 
                    a(href="http://www.zhangxinxu.com/wordpress/2012/03/wai-aria-%E6%97%A0%E9%9A%9C%E7%A2%8D%E9%98%85%E8%AF%BB/") 无障碍阅读 (☆)
        footer
li(id="id-10")
    section
        header
            h2 HTML书写注意事项
        .section-main
            .mini-title 应该遵循规范 (☆☆☆☆☆)
            ol
                li 标准的HTML整体结构
                li meta定义编码并前置
                li 如无特殊说明, 所有的html标签名、属性名、简单属性值, 均使用小写
                li 标签内部文本的 &lt; &gt; 等字符均使用&amp;lt; &amp;gt;或者相应的实体符号代替
                li 组合标签内, 杜绝
                    strong 滥竽充数
                li 标签嵌套 
                    code.nopre [div, form, li] &gt; [h1-h6, p] &gt; [a, span] &gt; [img, input]
        footer